<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171527795-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171527795-1');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PZPKBK9');</script>
<!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hall of Fame | GirlScript Hyderabad</title>
    <!-- OG Properties -->
    <meta property="og:title" content="Hall of Fame | GirlScript Hyderabad">
    <meta property="og:url" content="https://www.girlscripthyderabad.tech/halloffame">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Meet our exemplary mentors and speakers who guided us and helped us steadily to develop the technical community and giving you the best of learning experiences through our webinars,workshops and many such great events.">
    <meta property="og:image" content="https://www.girlscripthyderabad.tech/assets/img/HYDERABAD.webp">
    <!-- Meta Tags -->
    <meta name="title" content="Hall of Fame | GirlScript Hyderabad">
    <meta name="description" content="Meet our exemplary mentors and speakers who guided us and helped us steadily to develop the technical community and giving you the best of learning experiences through our webinars,workshops and many such great events.">
    <meta name="keywords" content="girlscript,girlscripthyderabad,gs,community,girlscript foundation, girlscript hyderabad,chapter,girlscript india,girlscript summit,github,summer of code,uplift,GirlScript,girlscript summer of code,technical,workshops,bootcamps,hyderabad,india,gs4beginners,gscup,campushero,technology,technicalcommunity,Entrepreneurship,ai,ml,tech,enthusiastic,is developer community,what does community developer mean,how to build developer community,how to create developer community,Best Trainer for workshop, best trainer for workshop in hyderabad,Mentors for workshop in  hyderabad, best mentor in  hyderabad, workshop instructor,workshop demonstrator, seminar demondtrator, mentor for workshop, workshop and seminar organizers, speaker for forum, mentors for sessions, workshop instructor jobs, workshop guide, workshop guru, mentoring sessions,center , club , community,how to start developer community,how to develop developer community,how to join developer community,how to grow a developer community,what is,developer community,aws developer community,what is developer community,what does a community developer do,where can a community developer work,who is a community developer,telangana,tech community in hyderabad, technical community hyderabad,workshops in hyderabad, hackathons in hyderabad,mentors in hyderabad, free course training in hyderabad " >
    <meta name="image" content="https://www.girlscripthyderabad.tech/assets/img/HYDERABAD.webp">
    <meta name="url" content="https://www.girlscripthyderabad.tech/halloffame">
    <link rel="canonical" href="https://www.girlscripthyderabad.tech/halloffame">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.girlscripthyderabad.tech/halloffame">
    <meta name="twitter:title" content="Hall of Fame | GirlScript Hyderabad">
    <meta name="twitter:description" content="Meet our exemplary mentors and speakers who guided us and helped us steadily to develop the technical community and giving you the best of learning experiences through our webinars,workshops and many such great events.">
    <meta name="twitter:image" content="https://www.girlscripthyderabad.tech/assets/img/HYDERABAD.webp">

    <!-- Schema Markup -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "GirlScript Hyderabad",
    "alternateName": "GirlScript Foundation",
    "url": "https://www.girlscripthyderabad.tech/",
    "logo": "https://www.girlscripthyderabad.tech/assets/img/gslogo.png",
    "sameAs": [
      "https://facebook.com/girlscripthyd",
      "https://twitter.com/girlscripthyd",
      "https://www.instagram.com/girlscripthyderabad/",
      "https://www.linkedin.com/company/girlscripthyderabad"
      ]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "GirlScript Hyderabad",
        "item": "https://www.girlscripthyderabad.tech/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Hall of Fame",
        "item": "https://www.girlscripthyderabad.tech/halloffame"
      }]
    }
    </script>

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="shortcut icon" href="/assets/img/favicon.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <meta name="google-site-verification" content="gQ5suCxo21DddGlwHk7PXpREjFZlD7hcvaa_vJvX2AQ" />

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZPKBK9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-main">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto row">
        <a href="/"><img src="assets/img/gslogo.png" class="img-fluid img-responsive"></a>&nbsp;
        <h1 style="top: 9px; position: relative;" class="text-light"><a href="/" style="font-family: 'Montserrat', sans-serif;">GirlScript Hyderabad</a></h1>
      </div>


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#gallery">Gallery</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/team">Our Team</a></li>
          <li class="active"><a href="/halloffame">Hall of Fame</a></li>
          <li><a href="/#joinus">Join Us</a></li>
          <li><a href="/#contact">Contact Us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Hall of Fame</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="team">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>We ❤ our Mentors</h2>
          <p>Hall of Fame</p>
        </div>
        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/fame/fame-1.webp" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Bhuvaneshwari Cheruvu</h4>
                <span>CareerExternship</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/fame/fame-2.webp" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>K. Karthikeya Kumar</h4>
                <span>CareerExternship</span>
              </div>
            </div>
          </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>GirlScript Hyderabad</h3>
              <p class="pb-3"><em>GirlScript Hyderabad is a non-profit Technical Community under GirlScript Foundation</em></p>
              <p>
                GirlScript Hyderabad <br>
               Hyderabad, Telangana, India<br><br>
                <strong>Email:</strong> girlscripthyd@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/girlscripthyd/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/girlscripthyderabad/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/girlscripthyderabad" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                <a href="https://twitter.com/girlscripthyd" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/events">Events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/links">Post Links</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/halloffame">Hall of Fame</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/team">Our Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#joinus">Join Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#contact">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter and Be first to know about the latest updates from GirlScript Hyderabad.</p>
            <form action="https://send.pageclip.co/VFrT31wgHsE55DHhWwMo92GfCJbnYInG/email-subscription" class="pageclip-form" method="post">
              <input type="email" name="email">
              <input class="button pageclip-form__submit" type="submit" value="Subscribe">

              </button>
            </form>
            <hr>
            <h4>Verify Certificate</h4>
            <p>Enter Certificate number below to verify the authenticity of the Certificate</p>
            <form action="/verify" method="post">
              <input type="text" name="certid">
              <input class="" type="submit" value="Verify">
              </button>
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>GirlScript Hyderabad</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        Made with ❤ by <a href="#">GirlScript Hyderabad</a>
      </div>
    </div>
  </footer><!-- End Footer -->
<!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
