<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171527795-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171527795-1');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PZPKBK9');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- OG Properties -->
  <meta property="og:title" content="Check Certificates">
  <meta property="og:url" content="https://www.checkcertificates.com">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Check Certificates is a emerging certificate verification company in India.">
  <meta property="og:image" content="https://www.checkcertificates.com/assets/img/logocc.webp">
  <!-- Meta Tags -->
  <meta name="title" content="Check Certificates">
  <meta name="description" content="Check Certificates is a emerging certificate verification company in India.">
  <meta name="keywords" content="checkcertificates,check,certificates,certificate verification,best certificate verification,cheap prize certificate verification,mapping,github,mapping tech labs,affordable certifcates,secure certificates,workshops,colleges in hyderabad,technology,bootcamps,hyderabad,india,Entrepreneurship,center,club">
  <meta name="image" content="https://www.checkcertificates.com/assets/img/logocc.webp">
  <meta name="url" content="https://www.checkcertificates.com">
  <link rel="canonical" href="https://www.checkcertificates.com">

  <!-- Twitter 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://www.girlscripthyderabad.tech/">
  <meta name="twitter:title" content="Check Certificates | Leading Certificate Verification Platform">
  <meta name="twitter:description" content="Check Certificates is a emerging certificate verification company in India.">
  <meta name="twitter:image" content="https://www.checkcertificates.com/assets/img/HYDERABAD.webp"> -->

  <!-- Schema Markup -->
  <meta name="google" content="nositelinkssearchbox" />
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Check Certificates",
    "url": "https://www.checkcertificates.com/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.checkcertificates.com/{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
  <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Check Certificates",
  "alternateName": "Check Certificate",
  "url": "https://www.checkcertificates.com/",
  "logo": "https://www.checkcertificates.com/assets/img/cclogo.png",
  "sameAs": [
    "https://facebook.com/",
    "https://twitter.com/",
    "https://www.instagram.com/",
    "https://www.linkedin.com/"
    ]
  }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "What is Check Certificates?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Check Certificates is a certificate verification company under Mapping Tech Labs Pvt Ltd registered under government of India."
        }
      },{
        "@type": "Question",
        "name": "Why that name as Check Certificates?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "The name is Check Certificates because we want people to understand that this is certification verification platform."
        }
      },{
        "@type": "Question",
        "name": "What is need of such organization like Check Certificates in India?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We mainly started Check Certificates because of the following reasons-
    1. People are careless about their certificates.
    2. Most of the students are losing their important degree certificates and they are not having any backup.
    3. Students can store their certificates with us.
    4. Colleges & Communities can send their certificates with us.
    5. We issue each certificate with unique id"
        }
      }]
    }
    </script>


  <!-- Pageclip -->
  <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">

  <title>Check Certificates</title>

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="shortcut icon" href="/assets/img/favicon.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <meta name="google-site-verification" content="gQ5suCxo21DddGlwHk7PXpREjFZlD7hcvaa_vJvX2AQ" />

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZPKBK9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '563234354554517',
      cookie     : true,
      xfbml      : true,
      version    : '7.0'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto row">
        <a href="/"><img src="assets/img/cclogo.png" class="img-fluid img-responsive"></a>&nbsp;
        <h1 style="top: 9px; position: relative;" class="text-light"><a href="/" style="font-family: 'Montserrat', sans-serif;">Check Certificates</a></h1>
      </div>


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
        <!--  <li><a href="#gallery">Gallery</a></li> 
          <li><a href="/events">Events</a></li>
          <li><a href="/halloffame">Hall of Fame</a></li> -->
          <li><a href="/#footer">Verify Certificate</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="#joinus">Join Us</a></li>
          <li><a href="#footer">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <div class="text-center text-lg-left">
              <h1>Certificate Verification Platform for <span>Students and Organisations</span></h1>
              <h2 id="second"></h2>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="assets/img/gs-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Check Certificates is a certificate verification company under Mapping Tech Labs Pvt Ltd</h3>
            <p>
              We are a Team of Young Tech Enthusiastic members. We help you out in every possible way to give you all the best experience of our Leading Certificate Verification Platform.
            </p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-book-reader"></i></div>
              <h4 class="title"><a href="">Available</a></h4>
              <p class="description">
               An advanced certificate storing, issuing & verifying platform where you can access all the services, features 24/7.</p>
              </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Affordable</a></h4>
              <p class="description">
                We as a company charge very low price for storing and issuing of any kind of certificates. The cost is very affordable. Check F.A.Q's for more information.</p>
              </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-meteor"></i></div>
              <h4 class="title"><a href="">Secured</a></h4>
              <p class="description">
                With great security system, we have made the data & verification very secure. There will be no security breach in future as well.</p>
              </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <p>Our Reach</p>
        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-group-students"></i>
              <span data-toggle="counter-up">1</span>
              <p>Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-calendar"></i>
              <span data-toggle="counter-up">0</span>
              <p>Cerificates Issued</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-university"></i>
              <span data-toggle="counter-up">1</span>
              <p>Colleges Associated</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">10</span>
              <p>Team Members</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->



    <!-- ======= Details Section ======= 
    <section id="details" class="details">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Recent Programs</h2>
          <p>Programs</p>
        </div>
        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/events/techjournal.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Tech Journal</h3>
            <p class="font-italic">
              Tech Journal is a 2-day workshop on Technical Content Writing workshop for the students and professional who want to explore Technical Writing as their career.
            </p>
            <p>
              On Day 1, Our Mentor of the workshop wil be sharing her valuable insights and tips to the participants for participting in BLOGATHON.
              E-certificate will be provided who had attended 2 day workshop.Top performing participants will be awarded.
            </p>
            <a style="padding: 1rem;" href="/events" target="blank" class="text-center join-us-btn">More Events!</a>
          </div>
        </div>
      </div>
    </section> End Details Section -->

    <!-- ======= Gallery Section ======= 
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallery</h2>
          <p>Check our Gallery</p>
        </div>

        <div class="row no-gutters" data-aos="fade-left">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
              <a href="assets/img/gallery/gallery-1.webp" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-1.webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
              <a href="assets/img/gallery/gallery-2.webp" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-2.webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="assets/img/gallery/gallery-3.webp" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-3.webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
              <a href="assets/img/gallery/gallery-4.webp" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-4.webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
              <a href="assets/img/gallery/gallery-5.webp" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-5.webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
              <a href="assets/img/gallery/gallery-6.webp" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-6.webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="400">
              <a href="assets/img/gallery/gallery-7.webp" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-7.webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
              <a href="assets/img/gallery/gallery-8.webp" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-8.webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section> End Gallery Section -->
    <!-- Join Us Section -->
    <section id="joinus" class="counts">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Let's Impact Together</h2>
          <p>Join Us</p>
        </div>
        <div class="col-md-12" data-aos="fade-up">
          <p style="padding-bottom: 1rem;">
            The aim of Check Certificates is to provide a platform to students as well as orgainsations to store (or) issue their certificates with us.<br>
           Join us now to take part in our mission of securing & issuing Certificates to the students and organisations.
          </p>
         <!-- <a style="padding: 1rem;" href="https://bit.ly/gshydcore" target="blank" class="text-center join-us-btn">Core Team</a> -->
          <a style="padding: 1rem;" href="https://bit.ly/" target="blank" class="text-center join-us-btn">Campus Ambassador</a>
        </div>

        </div>

      </div>
    </section>
    <!-- End of Join Us Section -->

    <!-- ======= Testimonials Section ======= -->
   <!-- <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in">

          <div class="testimonial-item">
            <img src="assets/img/gslogo.png" class="testimonial-img" alt="">
            <h3>Mohammed Raisa Bhanu</h3>
            <h4>Student - RGUKT,Srikakulam</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I feel so delighted that I've attended the sessions.I'm thankful to Girlscript team for conducting this in pandemic so that students at home can make good use of holidays without even expecting a single penny from us.The speakers you have are very well experienced and inspiring.Wholeheartedly,The service you are doing for students progress may take you to the great heights in future and provide us much more interesting sessions.....Thank you:)
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/gslogo.png" class="testimonial-img" alt="">
            <h3>K Sai Vineeth Kumar Goud</h3>
            <h4>Student - Vishwa Vishwani Institute of Systems & Management, Hyderabad</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              It was a very good experience listening to the wonderful sessions conducted by Girl script Hyderabad on the trending topics these days, I Wish the Girl Script Hyderabad team to conduct more sessions like these and help students around the state in order to excel in their careers :)
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/gslogo.png" class="testimonial-img" alt="">
            <h3>Sehajpreet Singh</h3>
            <h4>Student - Chitkara University, Punjab</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I have thoroughly enjoyed this 3 day session orgainzed by Girlscript Hyderabad. It was my pleasure to interact with the speakers. Also i got to know the areas where i lack and now i'll try improving on them. I am looking forward to be a part of more such events.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/gslogo.png" class="testimonial-img" alt="">
            <h3>VASA SAI PRIYA</h3>
            <h4>Student - NEIL GOGTE INSTITUTE OF TECHNOLOGY, Hyderabad</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              It was great to be a part of this GirlScript .I have learned many new thing which were useful in my life . Fabulous initiative from mentors and providing necessary learning to students in practical environment.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/gslogo.png" class="testimonial-img" alt="">
            <h3>DEEPAK K</h3>
            <h4>Student - Sapthagiri College Of Engineering, Bangalore</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              It was very informative and appreciative work done by GirlScript Hyderabad. I am previlaged to attend this session and learn such a new things which can be a turning point to grow my career
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section> --> <!-- End Testimonials Section -->

    <!-- ======= Team Section ======= --><!-- End Team Section -->


    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">What is Check Certificates? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                <p>
                  Check Certificates is a certificate verification company under Mapping Tech Labs Pvt Ltd registered under government of India.
                </p>
              </div>
            </li>



            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">What is Aim of Check Certificates?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  We mainly started Check Certificates because of the following reasons-<b> 
                  <br>1. People are careless about their certificates.
                  <br>2. Most of the students are losing their important degree certificates and they are not having any backup.
                  <br>3. Students can store their certificates with us.
                  <br>4. Colleges & Communities can send their certificates with us.
                  <br>5. We issue each certificate with unique id.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Why the name of Check Certificates? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  The name is Check Certificates because we want people to understand that this is certification verification platform.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">What is the pricing in Check Certificates? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  Storing Certificates {1} - Rs 5/-
                  <br>Storing Certificates {N} - Rs N*5/-
                  <br>Issuing Certificates {1} - Rs 1/-
                  <br>Issuing Certificates {N} - Rs N*1/-
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->
  <!--  <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our Social Media Handles</h2>
          <p>Social Media</p>
        </div>

        <div class="flex-column" data-aos="fade-left">
          <a class="twitter-timeline" style="float: left;" data-width="400" data-height="500" data-dnt="true" data-theme="dark" href="https://twitter.com/girlscripthyd?ref_src=twsrc%5Etfw">Tweets by girlscripthyd</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <iframe style="float: right;" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Ffacebook.com%2Fgirlscripthyd&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=563234354554517" width="350px" height="500px" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>

      </div>
    </section> -->

    <!-- ======= Contact Section ======= -->
   <!-- <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Check Certificates, Hyderabad,Telangana</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>checkcertificates@gmail.com</p>
              </div>

               <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p></p>
              </div> 

            </div>

          </div>
          <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <div class="section-title" data-aos="fade-up">
              <h2> Let's Talk!</h2>
              <p>For any queries or partnerships
              </p>
            </div>
            <form action="https://send.pageclip.co/VFrT31wgHsE55DHhWwMo92GfCJbnYInG/Contactform" method="post" role="form" class="pageclip-form php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="body" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
               <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> 
              <div class="text-center">
                <button class="button pageclip-form__submit" type="submit">
                  <span>Send Message</span>
                </button>
              </div>
            </form>

          </div>

        </div>

      </div>
    </section> End Contact Section

  </main> End main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Check Certificates</h3>
              <p class="pb-3"><em>Check Certificates is a Certificates Verifiction Company under Mapping Tech Labs Pvt Ltd</em></p>
              <p>
                Check Certificates <br>
               Hyderabad, Telangana, India<br><br>
                <strong>Email:</strong> checkcertificates@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                <a href="https://twitter.com/" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
             <!-- <li><i class="bx bx-chevron-right"></i> <a href="/events">Events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/links">Post Links</a></li>
             <li><i class="bx bx-chevron-right"></i> <a href="/halloffame">Hall of Fame</a></li> -->
              <li><i class="bx bx-chevron-right"></i> <a href="/team">Our Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#joinus">Join Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#contact">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter and Be first to know about the latest updates from Check Certificates.</p>
            <form action="https://send.pageclip.co/VFrT31wgHsE55DHhWwMo92GfCJbnYInG/email-subscription" class="pageclip-form" method="post">
              <input type="email" name="email">
              <input class="button pageclip-form__submit" type="submit" value="Subscribe">
              </button>
            </form>
            <hr>
            <h4>Verify Certificate</h4>
            <p>Enter Certificate number below to verify the authenticity of the Certificate.</p>
            <form action="/verify" method="post">
              <input  type="text" name="certid">
              <input class="button" type="submit" value="Verify">
              </button>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Check Certificates</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        Made with ❤ by <a href="#">Mapping Tech Labs</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- typewriter -->
  <script>
       var i = 0;
        var txt = "Check Certificates is the Affordable & Secured Indian Origin Certificates Verification Company";
        var speed = 80;
        $(document).ready(function(){
                typeWriter();
        });

    function typeWriter() {
    if (i < txt.length) {
        document.getElementById("second").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
    }
    else{
        i=0;
        document.getElementById("second").innerHTML="";
        typeWriter();
    }
    }

  </script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
