<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171527795-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171527795-1');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PZPKBK9');</script>
<!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Our Team | Check Certificates</title>
    <!-- OG Properties -->
    <meta property="og:title" content="Our Team | Check Certificates">
    <meta property="og:url" content="https://www.checkcertificates.com/team">
    <meta property="og:type" content="website">
    <meta property="og:description" content="We are a Team of Young Tech Enthusiastic members. We help you out in every possible way to give you all the best experience of our Leading Certificate Verification Platform  - Check Certificates">
    <meta property="og:image" content="https://www.checkcertificates.com/assets/img/HYDERABAD.webp">
    <!-- Meta Tags -->
    <meta name="title" content="Our Team | Check Certificates">
    <meta name="description" content="We are a Team of Young Tech Enthusiastic members. We help you out in every possible way to give you all the best experience of our Leading Certificate Verification Platform  - Check Certificates" >
    <meta name="keywords" content="girlscript,girlscripthyderabad,gs,community,technical,telangana,workshops,bootcamps,hyderabad,india,gs4beginners,girlscript foundation, girlscript hyderabad,chapter,girlscript india,girlscript summit,github,summer of code,uplift,GirlScript,girlscript summer of code,gscup,campushero,technology,technicalcommunity,Entrepreneurship,ai,ml,tech,enthusiastic,is developer community,what does community developer mean,how to build developer community,how to create developer community,Best Trainer for workshop, best trainer for workshop in hyderabad,Mentors for workshop in  hyderabad, best mentor in  hyderabad, workshop instructor,workshop demonstrator, seminar demondtrator, mentor for workshop, workshop and seminar organizers, speaker for forum, mentors for sessions, workshop instructor jobs, workshop guide, workshop guru, mentoring sessions,center , club , community,how to start developer community,how to develop developer community,how to join developer community,how to grow a developer community,what is,developer community,aws developer community,what is developer community,what does a community developer do,where can a community developer work,who is a community developer,tech community in hyderabad, technical community hyderabad,workshops in hyderabad, hackathons in hyderabad,mentors in hyderabad, free course training in hyderabad" >
    <meta name="image" content="https://www.checkcertificates.com/assets/img/HYDERABAD.webp">
    <meta name="url" content="https://www.checkcertificates.com/team">
    <link rel="canonical" href="https://www.checkcertificates.com/team">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.checkcertificates.com/team">
    <meta name="twitter:title" content="Our Team | Check Certificates">
    <meta name="twitter:description" content="We are a Team of Young Tech Enthusiastic members. We help you out in every possible way to give you all the best experience of our Leading Certificate Verification Platform  - Check Certificates">
    <meta name="twitter:image" content="https://www.checkcertificates.com/assets/img/HYDERABAD.webp">
    <!-- Schema Markup -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Check Certificates",
    "alternateName": "Check Certificate",
    "url": "https://www.checkcertificates.com/",
    "logo": "https://www.checkcertificates.com/assets/img/cclogo.png",
    "sameAs": [
      "https://facebook.com/",
      "https://twitter.com/",
      "https://www.instagram.com/",
      "https://www.linkedin.com/"
      ]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Check Certificates",
        "item": "https://www.checkcertificates.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Our Team",
        "item": "https://www.checkcertificates.com/team"
      }]
    }
    </script>

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="shortcut icon" href="/assets/img/favicon.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <meta name="google-site-verification" content="gQ5suCxo21DddGlwHk7PXpREjFZlD7hcvaa_vJvX2AQ" />

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZPKBK9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-main">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto row">
        <a href="/"><img src="assets/img/cclogo.png" class="img-fluid img-responsive"></a>&nbsp;
        <h1 style="top: 9px; position: relative;" class="text-light"><a href="/" style="font-family: 'Montserrat', sans-serif;">Check Certificates</a></h1>
      </div>


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#footer">Verify Certificate</a></li>
          <!-- <li><a href="/#gallery">Gallery</a></li>
          <li><a href="/events">Events</a></li> -->
          <li class="active"><a href="/team">Our Team</a></li>
         <!-- <li><a href="/halloffame">Hall of Fame</a></li> -->
          <li><a href="/#joinus">Join Us</a></li>
          <li><a href="/#footer">Contact Us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Our Amazing Team!</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Our Team</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Born to lead</h2>
          <p>Founders</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/akash-smm.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>M.D.N. Akash</h4>
                <span>Founder</span>
                <div class="social">
                  <a href="https://twitter.com/AkashMallareddy" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/akash.mallareddy" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/akash_mallareddy/" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/akash-rao-mallareddy-055520168/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          
​

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/j2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>CH. Abhinav Chandu</h4>
                <span>Co-Founder</span>
                <div class="social">
                  <a href="https://twitter.com/divija_05"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/divija.kurremula.1/"><i class="icofont-facebook"></i></a>
                  <a href="https://instagram.com/divija_kurremula?igshid=13p6tlon5o3d4"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/divija-k-3438ab16a"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>


      </div>
    </section>
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>We don’t need a title to be a leader</h2>
          <p>Core Team</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/csehod.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Rajanikanth Aluvalu</h4>
                <span>Mentor</span>
                <div class="social">
                  <a href="#" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="#" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/jabbarsir.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Akhil Jabbar Mirza</h4>
                <span>Mentor</span>
                <div class="social">
                  <a href="https://twitter.com/" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

       <!--   <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/karthik-gd.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>SUNKOJU KARTHIK CHARY</h4>
                <span>Graphics Designer</span>
                <div class="social">
                  <a href="https://twitter.com/Karthik26022000?s=09" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/karthikkarthi2000" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/karthik.info" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/karthik-sunkoju-36533114b" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> -->

      <!--    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/vaidhyanathan-tech.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Vaidhyanathan S M</h4>
                <span>Technical Team</span>
                <div class="social">
                  <a href="https://twitter.com/itssmv1999?s=08" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="https://facebook.com/notapplicable" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/vaidhyanathan.sm/" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/vaidhyanathansm" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> -->

        <!--  <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/akash-smm.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>M.D.N. AKASH</h4>
                <span>Social Media Marketing Team</span>
                <div class="social">
                  <a href="https://twitter.com/AkashMallareddy" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/akash.mallareddy" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/akash_mallareddy/" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/akash-rao-mallareddy-055520168/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/chaitu-tech.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Munipalle Sai Chaitanya</h4>
                <span>Technical Team</span>
                <div class="social">
                  <a href="https://twitter.com/MunipalleC?s=09" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="https://m.facebook.com/chaitanya.munipalle.7?ref=bookmarks" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/chaitu083/?hl=en" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/munipalle-sai-chaitanya-6b5725171" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> -->

      <!--    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/sam-cw.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sivva Samrudh</h4>
                <span>Content Writer</span>
                <div class="social">
                  <a href="https://twitter.com/samrudh_sivva?s=09" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/samrudh.sivva" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/samrudh_sivva/" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/samrudh-sivva-58573a1a5" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/pranathi-cw.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Pranathi Putakuli</h4>
                <span>Content Writer</span>
                <div class="social">
                  <a href="https://mobile.twitter.com/pranathi_09" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/pranathi09/" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/pranathi__09/" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/pranathi-putakuli/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> -->
        <!--  <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/anisha-tech.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Anisha Arya </h4>
                <span>Technical Team</span>
                <div class="social">
                  <a href="https://twitter.com/AnishaArya15?s=09" target="_blank"><i class="icofont-twitter"></i></a>
                  <!-- <a href="https://www.google.com" target="_blank"><i class="icofont-facebook"></i></a> -->
                  <a href="https://www.instagram.com/anisha12arya/" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/anisha-arya-4748b216a" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> -->


         <!-- <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/shiva-smm.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Shiva Kumar Vishwanadula </h4><span>Social Media Team</span><div class="social"><a href="https://mobile.twitter.com/shivavishwa8" target="_blank"><i class="icofont-twitter"></i></a><a href="https://www.facebook.com/vishwanadhula.shiva" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/shiva.vishwa/" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/shiva-kumar-vishwanadula-4875ba1a4" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div> -->

        <!--  <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/koundinya-gd.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Koundinya Velpucherla </h4><span>Graphic Designer</span><div class="social"><a href="https://twitter.com/Koundinya147?s=09" target="_blank"><i class="icofont-twitter"></i></a><a href="https://www.facebook.com/koundinya147" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/ohthatfatkid/" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/koundinya-velpucherla-4739b3172" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div> -->

         <!-- <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/nishith-events.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Nishith kumar </h4><span>Events and Logistics Team</span><div class="social"><a href="https://www.linkedin.com/in/nishith-kumar-aa4609185" target="_blank"><i class="icofont-twitter"></i></a><a href="#" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/p/By9wp3MANKm/?igshid=13xfu7sdqk3bd" target="_blank"><i class="icofont-instagram"></i></a><a href=" https://www.linkedin.com/in/nishith-kumar-aa4609185" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div> -->

         <!-- <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/sravan-cw.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Sravan kumar </h4><span>Social Media Team</span><div class="social"><a href="https://mobile.twitter.com/Sravan58784674" target="_blank"><i class="icofont-twitter"></i></a><a href="https://m.facebook.com/sravankumaryadav.battu" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/sravan_kumar_sky/" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/sravan-kumar-054890165" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div> -->

        <!--  <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/harshitha-cw.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mullapudi Teja Harshita</h4>
                <span>Content Writer</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/teja-harshita-mullapudi-06a74b1a9" target="_blank"><i class="icofont-linkedin"></i></a>
                  <a href="https://instagram.com/harshita._.teja?igshid=tgucvhyo5ukb" target="_blank"><i class="icofont-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/venkat-cw.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Venkat Karthik</h4>
                <span>Content Writer</span>
                <div class="social">
                  <a href="https://m.facebook.com/Venkat.karthik.28" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/venkey_28/" target="_blank"><i class="icofont-instagram"></i></a>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Uncomment this to add new profile
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/chaitu-tech.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Munipalle Sai Chaitanya</h4>
                <span>Technical Team</span>
                <div class="social">
                  <a href="" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> -->
        </div>

      </div>
    </section>
   <!-- <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>We are Campus Leaders</h2>
          <p>Campus Hero</p>
        </div> -->

      <!--  <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/ca-1.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Ehetesham Shaik </h4><span>Muffakham Jah College of Engineering and Technology</span><div class="social"><a href="https://twitter.com/Ehetesham4" target="_blank"><i class="icofont-twitter"></i></a><a href="#" target="_blank"><i class="icofont-facebook"></i></a><a href="#" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/ehetesham-shaik-552483188" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/ca-2.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Moin khan </h4><span>Muffakham jah college of engineering and technology</span><div class="social"><a href="https://twitter.com/moinkhans180700?s=08" target="_blank"><i class="icofont-twitter"></i></a><a href="https://www.facebook.com/profile.php?id=100008418425583" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/prince_moinkhan?r=nametag" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/moin-khan-1b6470189" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/ca-neha.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Surya Gouni Neha  </h4><span>Malla Reddy College of Engineering and Technology</span><div class="social"><a href="https://twitter.com/GouniNeha" target="_blank"><i class="icofont-twitter"></i></a><a href="https://www.facebook.com/profile.php?id=100011793274403" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/neha_uday_kumar/?hl=en" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/neha-surya-gouni-105822171/" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div>


          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/ca-3.png" class="img-fluid" alt=""></div><div class="member-info"><h4>G V S KRISHNA HRITHIK </h4><span>Neil Gogte Institute of Technology</span><div class="social"><a href="https://www.twitter.com/krishnahrithik1" target="_blank"><i class="icofont-twitter"></i></a><a href="https://www.facebook.com/hrithik.gajavalli" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/gajavallihrithik/" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/kh2000" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/shashidhar-ch.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Shashidhar Reddy Javaji </h4><span>Anurag University</span><div class="social"><a href="https://twitter.com/imshashi16" target="_blank"><i class="icofont-twitter"></i></a><a href="#" target="_blank"><i class="icofont-facebook"></i></a><a href="#" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/shashidhar-reddy-javaji/" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div>


          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/ca-4.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Saadia Hassan </h4><span> VNR Vignana Jyothi Institute of Engineering and Technology</span><div class="social"><a href="#" target="_blank"><i class="icofont-twitter"></i></a><a href="#" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/_saaadia_" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/saadia-hassan" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/ca-5.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Fariyal Ajrad </h4><span>Chaitanya Bharathi Institute Of Technology</span><div class="social"><a href="#" target="_blank"><i class="icofont-twitter"></i></a><a href="#" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/fariyaaaaal/" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/fariyal-ajrad-b4b562bb" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"><div class="member" data-aos="zoom-in" data-aos-delay="400"><div class="pic"><img src="assets/img/team/ca-6.png" class="img-fluid" alt=""></div><div class="member-info"><h4>Gollamudi Alekhya </h4><span>Anurag University</span><div class="social"><a href="https://mobile.twitter.com/GollamudiAlekh1" target="_blank"><i class="icofont-twitter"></i></a><a href="https://www.facebook.com/alekhya.gnv.9" target="_blank"><i class="icofont-facebook"></i></a><a href="https://www.instagram.com/alekhyagnv/" target="_blank"><i class="icofont-instagram"></i></a><a href="https://www.linkedin.com/in/gollamudi-alekhya-462b3419a" target="_blank"><i class="icofont-linkedin"></i></a></div></div></div></div>

      </div>
    </section> -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>GirlScript Hyderabad</h3>
              <p class="pb-3"><em>Check Certificates is a Certificates Verifiction Company under Mapping Tech Labs Pvt Ltd</em></p>
              <p>
                Check Certificates <br>
               Hyderabad, Telangana, India<br><br>
                <strong>Email:</strong> checkcertificates@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                <a href="https://twitter.com/" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
            <!--  <li><i class="bx bx-chevron-right"></i> <a href="/events">Events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/links">Post Links</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/halloffame">Hall of Fame</a></li> -->
              <li><i class="bx bx-chevron-right"></i> <a href="/team">Our Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#joinus">Join Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#footer">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter and Be first to know about the latest updates from Check Certificates.</p>
            <form action="https://send.pageclip.co/VFrT31wgHsE55DHhWwMo92GfCJbnYInG/email-subscription" class="pageclip-form" method="post">
              <input type="email" name="email">
              <input class="button pageclip-form__submit" type="submit" value="Subscribe">

              </button>
            </form>
            <hr>
            <h4>Verify Certificate</h4>
            <p>Enter Certificate number below to verify the authenticity of the Certificate.</p>
            <form action="/verify" method="post">
              <input type="text" name="certid">
              <input class="" type="submit" value="Verify">
              </button>
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Check Certificates</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        Made with ❤ by <a href="#">Mapping Tech Labs</a>
      </div>
    </div>
  </footer><!-- End Footer -->
<!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
